
  <section >
  <div id="Carousel" class="carousel slide " data-ride="carousel">
    <!-- Carousel indicators -->
    <div class="title">The Padre Hotel</div>
    <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
    <ol class="carousel-indicators">
    
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
        <li data-target="#Carousel" data-slide-to="3"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner aboutus-listing-banner">
        <div class="item banner-color-overlay active ">
              {% region aboutus-banner-1 %}       
        </div>
        
        <div class="item banner-color-overlay">
            {% region aboutus-banner-2 %}       
        </div>
        <div class="item banner-color-overlay">
           {% region aboutus-banner-3 %}       
        </div>
        <div class="item banner-color-overlay">
           {% region aboutus-banner-4 %}       
        </div>
    </div>
    
</div>
  </section>
