<section class="footer">
	<div class="text-cursive hotel-name">
    The Padre Hotel
    </div>
 
  <div class="container">
   
    <div class="row ">
      <div class="col-md-12 no-gutter">
        <div class=" logo-container"> <img src="../assets/images/footer-padre-logo.jpg" class="center-block" alt=""/></div>
        <div class="links-container ">
          <div class="row no-gutter">
            <div class=" pull-left ">
              <ul>
                <li><a href="#">SITEMAP</a></li>
                <li><a href="#">CAREERS</a></li>
                <li><a href="#">EAT.DRINK.SLEEP.</a></li>
                <li><a href="#">MEDIA</a></li>
                <li><a href="#">CONTACT</a></li>
              </ul>
            </div>
            <div class=" social-icons pull-left">
              <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class=" pull-left  ">
              <label>newsletter</label>
              <div class="textbox-wrapper">
                <form>
                  <input type="hidden" name="formID" value="61715850843459" />
                  <input type="text" class="textbox validate[required] input-text" placeholder="Type your email here" data-type="input-textbox" id="input_3" name="q3_email" size="21" value="" required="required">
                  <button id="input_2" type="submit" class="formbtn"></button>
                  <input type="hidden" id="simple_spc" name="simple_spc" value="61715850843459" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" address-container">
        <p>THE PADRE HOTEL<br>
          1702 18TH STREET<br>
          BAKERSFIELD, CA <br>
          PH.661-427-4900<br>
          TEAM@THEPADREHOTEL.COM<br>
        </p>
      </div>
      <div class=" address-map"><img src="../assets/images/footer-map.jpg" class="img-width " alt=""/> </div>
    </div>
  </div>
  </footer>
</section>
</body>
</html>