<section class="footer">
	<div class="text-cursive hotel-name">
    The Padre Hotel
    </div>
 
  <div class="container">
   
    <div class="row ">
      <div class="col-md-12 no-gutter">
        <div class=" logo-container"> <img src="/assets/images/footer-padre-logo.jpg" class="center-block" alt=""/></div>
        <div class="links-container ">
          <div class="row no-gutter">
            <div class=" pull-left ">
              <ul>
                <li><a href="/sitemap/">SITEMAP</a></li>
                <li><a href="/careers/" >CAREERS</a></li>
                <li><a href="http://www.eatdrinkandsleep.net "  target="_blank">EAT.DRINK.SLEEP.</a></li>
                <li><a href="/media/">MEDIA</a></li>
                <li><a href="/contact/">CONTACT</a></li>
              </ul>
            </div>
            <div class=" social-icons pull-left">
              <ul>
                <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class=" pull-left  ">
              <label>newsletter</label>
              <div class="textbox-wrapper">
                <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
                <input type="text" name="email" class="textbox validate[required] input-text" placeholder="Type your email here"  data-id="Email Address:input" size="21" value="" required="required">   <button type="submit" class="formbtn" data-enabled="enabled"></button>
                 <input data-id="ca:input" type="hidden" name="ca" value="d545a1f0-5c89-4e0b-ac97-d04aa7092e96">
           <input data-id="list:input" type="hidden" name="list" value="9">
           <input data-id="source:input" type="hidden" name="source" value="EFD">
           <input data-id="required:input" type="hidden" name="required" value="list,email">
           <input data-id="url:input" type="hidden" name="url" value="">
          
           <span data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required"></label></span>
             <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
                  
                  
                   
                  
               
                
                </form>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" address-container">
       <p><a href="https://goo.gl/maps/ec3nHfzzCen" class="address-footer" target="_blank"> THE PADRE HOTEL<br>
          1702 18TH STREET<br>
          Bakersfield, CA 93301<br></a>
          <a href="tel:+6614274900"> PH.661-427-4900</a><br>
          <a href="mailto:TEAM@THEPADREHOTEL.COM">TEAM@THEPADREHOTEL.COM</a><br>
        </p>
      </div>
      <div class=" address-map"><img src="/assets/images/footer-map.jpg" class="img-width " alt=""/> </div>
    </div>
  </div>
  </footer>
</section>
<a id="back-to-top" href="#" class="back-to-top " role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] = 		'This field is required.';
   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] = 			'Please select at least one email list.';
   localizedErrMap['generic'] = 		'This field is invalid.';
   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
	localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] = 	'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
</body>
</html>