   
<section class="nav-normal-scroll" >
	<div class=" header-wrapper ">
		<div class="pull-left logo">
			<a href="/">
				<img src="/assets/images/padre-logo-header.jpg" alt=""/>
			</a>
		</div>
		<div class="pull-left header-nav-bar">
			<ul>
				<li>
					<a href="#">
						<span>01</span>Stay
					</a>
					<ul>
						<li>
							<a href="/rooms-and-suites/">Rooms</a>
						</li>
						<li>
							<a href="/special-offers/">Specials</a>
						</li>
                        <li>
							<a href="/about-us/">About us</a>
						</li>
						<li>
							<a href="/location/">Location</a>
						</li>
						<li>
							<a href="/gallery/">Gallery</a>
						</li>
					</ul>
				</li>
				<li>
					<a  href="#">
						<span>02</span>Dine
					</a>
					<ul>
						<li>
							<a href="/dine/belvedere-room/">BELVEDERE ROOM</a>
						</li>
						<li>
							<a href="/dine/brimstone/">BRIMSTONE</a>
						</li>
                        <li>
							<a href="/dine/prospect/">Prospect</a>
						</li>
						<li>
							<a href="/dine/prairie-fire/">PRAIRIE FIRE</a>
						</li>
						<li>
							<a href="/dine/farmacy-cafe/">FARMACY CAFE</a>
						</li>
                        <li>
							<a href="/dine/private-dining/">PRIVATE DINING</a>
						</li>
					</ul>
				</li>
				<li>
					<a  href="#">
						<span>03</span>Play
					</a>
                    <ul>
						
						<li>
							<a href="/play/events/">EVENTS</a>
						</li>
						<li>
							<a href="/play/spa-packages/">SPA PACKAGES</a>
						</li>
						<li>
							<a href="/play/in-the-area/"> IN THE AREA</a>
						</li>
                        
					</ul>
				</li>
				<li>
					<a  href="#">
						<span>04</span>Gather
					</a>
                      <ul>
						<li>
							<a href="/gather/corporate-meetings-and-events/">CORPORATE MEETINGS & EVENTS</a>
						</li>
						<li>
							<a href="/gather/weddings/">WEDDINGS</a>
						</li>
                        <li>
							<a href="/gather/holiday-parties/">HOLIDAY PARTIES</a>
						</li>
					
                        
					</ul>
				</li>
				<li>
					<a  href="/contact/">
						<span>05</span>Contact
					</a>
				</li>
			</ul>
		</div>
		<div class="pull-right booknow-btn">
			<a href="javascript:;"  class="hover-transition" show-booking-widget>book now</a>
		</div>
		<div class="menu-icon-holder">
			<a class="menu-icon"></a>
		</div>
	</div>
   


</section>
 

