  <section class="nav-normal-scroll" >
    <div class=" header-wrapper ">
    
      <div class="pull-left logo"><a href="/"> <img src="../assets/images/padre-logo-header.jpg" alt=""/> </a></div>
      <div class="pull-left header-nav-bar"> 
      <ul>
      <li><a href="#"><span>01</span>Stay</a></li>
      <li><a  href="#"><span>02</span>Dine</a></li>
      <li><a  href="#"><span>03</span>Play</a></li>
      <li><a  href="#"><span>04</span>Gather</a></li>
      <li><a  href="#"><span>05</span>Contact</a></li>
      </ul>
      </div>
     
      <div class="pull-right booknow-btn"> <a href="#"  class="hover-transition" >book now</a> </div>
       <div class="menu-icon-holder"><a class="menu-icon"></a></div>
    </div>
   
  </section>
 

