

<div class="hotels-container container ">

<div class="row ">
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg" >
    <a href="/dine/brimstone/">
      <div>
      {% region home-hotels-logo-1 %}
      </div>
      <div>
      {% region home-hotels-image-1 %}
      </div>
     </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg" >
     <a href="/dine/belvedere-room/">
      <div>
      {% region home-hotels-logo-2 %}
      </div>
      <div>
      {% region home-hotels-image-2 %}
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg" >
     <a href="/dine/prospect/">
      <div>
      {% region home-hotels-logo-3 %}
      </div>
      <div>
      {% region home-hotels-image-3 %}
      </div>
     </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg"   >
     <a href="/dine/farmacy-cafe/">
     <div>
      {% region home-hotels-logo-4 %}
      </div>
      <div>
      {% region home-hotels-image-4 %}
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
     <a href="/dine/prairie-fire/">
     <div>
      {% region home-hotels-logo-5 %}
      </div>
      <div>
      {% region home-hotels-image-5 %}
      </div>
      </a>
    </div>
  </div>
</div>


<div class="row discover-more-container">
 <div class=" col-md-6 text-center ">
 {% region home-hotels-title %}

 {% region home-hotels-title-second %}

 </div>
 <div class="col-md-6 ">
 <div class="description">
 {% region home-hotels-description %}


 </div>
 
 </div>
</div>
</div>
