
<div class="home-offers ">
<img src="../assets/images/flower-left.png"  class="flower-right" alt=""/>
  <div class="container global-container ">
    <div class="row">
      <div class="header">
        <h3 class="text-bold">special offers</h3>
        <span class="dimond"> ◆</span>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
          Aenean commodo ligula eget dolor. </p>
      </div>
      <div class="offers-list">
        <div class="row no-gutter">
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> <img src="../assets/images/home-offers.jpg"  class="img-width"  alt=""/>
              <h5>SPECIAL OFFER ONE</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit... </p>
              <div class="brown-button "><a href="#" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> <img src="../assets/images/home-offers2.jpg"  class="img-width"  alt=""/>
              <h5>SPECIAL OFFER TWO</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
              <div class="brown-button "><a href="#" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> <img src="../assets/images/home-offers3.jpg"  class="img-width"  alt=""/>
              <h5>SPECIAL OFFER THREE</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit... </p>
              <div class="brown-button "><a href="#" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
        </div>
      </div>
      <div> <img src="../assets/images/offers-couple-img.jpg"  class="img-width" alt=""/>
      
       </div>
    </div>
    <div class="row activities-section">
      <div class="  col-md-6 text-center ">
        <h2 class="text-bold ">Activities & Events</h2>
        <div class="text-cursive">Unique discoveries</div>
      </div>
      <div class="col-md-5 ">
        <p class="brown-color"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        <div class="brown-button button-padding"><a href="#" class="hover-transition">discover more</a></div>
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12 lady pull-left no-gutter "><img src="../assets/images/home-lady.jpg"  class="img-width" alt=""/></div>
      <div class="col-sm-12 col-md-7 pull-right no-gutter  ">
        <div id="testmonials" class="carousel slide testmonials" data-ride="carousel"> 
          <!-- Carousel indicators -->
          
          <ol class="carousel-indicators">
            <li data-target="#testmonials" data-slide-to="0" class="active"></li>
            <li data-target="#testmonials" data-slide-to="1"></li>
            <li data-target="#testmonials" data-slide-to="2"></li>
            <li data-target="#testmonials" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <h4>testimonials</h4>
              <p>The Padre Hotel would have to be one of the "coolest" hotels we have stayed at anywhere in the world. Everything was done so stylishly and uniquely different to other hotels. The staff were all very friendly and helpful. We loved it!</p>
              <div class="date">Jason, January 27th, 2016</div>
            </div>
            <div class="item">
              <h4>testimonials</h4>
              <p>The Padre Hotel would have to be one of the "coolest" hotels we have stayed at anywhere in the world. Everything was done so stylishly and uniquely different to other hotels. The staff were all very friendly and helpful. We loved it!</p>
              <div class="date">Jason, January 27th, 2016</div>
            </div>
            <div class="item">
              <h4>testimonials</h4>
              <p>The Padre Hotel would have to be one of the "coolest" hotels we have stayed at anywhere in the world. Everything was done so stylishly and uniquely different to other hotels. The staff were all very friendly and helpful. We loved it!</p>
              <div class="date">Jason, January 27th, 2016</div>
            </div>
            <div class="item">
              <h4>testimonials</h4>
              <p>The Padre Hotel would have to be one of the "coolest" hotels we have stayed at anywhere in the world. Everything was done so stylishly and uniquely different to other hotels. The staff were all very friendly and helpful. We loved it!</p>
              <div class="date">Jason, January 27th, 2016</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
