

<div class="hotels-container container ">

<div class="row ">
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
    <a href="/dine/brimstone/">
      <div><img src="/assets/images/brimstone_hotel.jpg" class="img-responsive center-block"  alt=""/></div>
      <div><img src="/assets/images/brimstone_img.jpg" class="img-width" alt=""/></div>
     </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg"   >
     <a href="/dine/belvedere-room/">
      <div><img src="/assets/images/belvedere_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="/assets/images/belvedere_img.jpg" class="img-width" alt=""/></div>
      </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
     <a href="/dine/prospect/">
      <div><img src="/assets/images/prospect_hotel.jpg" class="img-responsive center-block " alt=""/></div>
      <div><img src="/assets/images/prospect_img.jpg" class="img-width" alt=""/></div>
     </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg"   >
     <a href="/dine/farmacy-cafe/">
      <div><img src="/assets/images/farmacy_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="/assets/images/farmacy_img.jpg" class="img-width" alt=""/></div>
      </a>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
     <a href="/dine/prairie-fire/">
      <div><img src="/assets/images/prairie_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="/assets/images/prairie_img.jpg" class="img-width" alt=""/></div>
      </a>
    </div>
  </div>
</div>


<div class="row discover-more-container">
 <div class=" col-md-6 text-center ">
 
 <h2 class="text-bold">Dining & Bar</h2>

 <div class="text-cursive">Unique experiences</div>
 </div>
 <div class="col-md-6 ">
 <div class="description">
 <p class="brown-color">
 From elegant ambiance to hipster hangouts, dining and bar options are aplenty at The Padre. Bring a sophisticated palate to dinner at Belvedere Room before experiencing new heights on Prairie Fire’s rooftop lounge. Or grab a stool at Brimstone as you feast on casual grub and an unmatched selection of local brews and top shelf whiskey. Staying overnight? Wake up to the best breakfast and brunch in town.</p>

 </div>
 
 </div>
</div>
</div>
