
<section class="home-activities ">
  <div class="container">
  
    <div class="row ">
    <div class="title">  {% region home-activities-title %}</div>
   
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <iframe src="//lightwidget.com/widgets/bc471d4d2d475a71836b5420eec17915.html" id="lightwidget_bc471d4d2d" name="lightwidget_bc471d4d2d"  scrolling="no" allowtransparency="true" class="lightwidget-widget " style="width: 100%; border: 0; overflow: hidden;"></iframe>
    
    </div>
  </div>
</section>
