<section class="home-uniquestay">
<img src="../assets/images/flower-left.png" style="position:absolute;z-index:40;" class="flower-left" alt=""/>
<div class="global-container  ">

  <div class="container section-padding">
    <div class="row ">
      <div class="col-sm-12 col-md-6 no-gutter"> 
        <div class="caption-stay"> A unique stay<br>
          at Padre Hotel</div>
      </div>
      <div class="col-sm-12 col-md-6 no-gutter"> <img src="../assets/images/unique_section.jpg"  class="img-width img-top-border" alt=""/> </div>
    </div>
    <div class="row section-margin">
      
        <div class="common-description-block center-block ">
          <h4>OUR HOTEL ROOMS</h4>
          <span class="dimond"> &#9670;</span>
          <p>The rooms and suites at The Padre Hotel offer fresh design schemes, high-end amenities, and teak furnishings creating the perfect balance between style and substance.</p>
          <div class="brown-button"><a href="#" class="hover-transition">View rooms</a></div>
         
        </div>
      
    </div>
    <div class="row  vertical-text-container">
   
    <img src="../assets/images/home-couple.jpg" class="img-width" alt=""/> 
      <div class="comfort-text">Comfort & Style</div>
    </div>
    
  </div>
</div>
</section>