<section class="home-uniquestay">
<img src="/assets/images/flower-left.png"  class="flower-left" alt=""/>
<div class="global-container  ">

  <div class="container section-padding">
    <div class="row ">
      <div class="col-sm-12 col-md-6 no-gutter"> 
        <div class="caption-stay">{% region home-uniquestay-punchline %} </div>
      </div>
      <div class="col-sm-12 col-md-6 no-gutter">
      {% region home-uniquestay-image-1 %}
      </div>
    </div>
    <div class="row section-margin">
      
        <div class="common-description-block center-block ">
         {% region home-uniquestay-title %}
          <span class="dimond"> &#9670;</span>
           {% region home-uniquestay-description %}
          
          <div class="brown-button"><a href="/rooms-and-suites/" class="hover-transition">View rooms</a></div>
         
        </div>
      
    </div>
    <div class="row  vertical-text-container">
    {% region home-uniquestay-image-couple %}
   
      <div class="comfort-text">Comfort & Style</div>
    </div>
    
  </div>
</div>
</section>