
<section class="home-events-wedding   section-margin">
<div class="container">
<div class="row">
<div class="header">
<div class="row bg-text">gather

  <span> {% region home-events-wedding-title %}</span>
 
 
 </div>
 
</div>
<div class="discovermore-img">
<div class="white-button center-button "><a href="/gather/corporate-meetings-and-events/" class="hover-transition">discover more</a></div>
<div class="row no-gutter">
 <div class="col-xs-6 col-md-6 no-gutter">
 {% region home-events-wedding-image-1 %}
 
</div>
 <div class="col-xs-6 col-md-6 no-gutter">
  {% region home-events-wedding-image-2 %}
 
</div>
</div>
<div class="row no-gutter">
 <div class="col-xs-6 col-md-6 no-gutter">
  {% region home-events-wedding-image-3 %}
 
</div>
 <div class="col-xs-6 col-md-6 no-gutter">
  {% region home-events-wedding-image-4 %}
 
</div>
</div>
</div>
</div>

</div>
</section>
