

<div class="hotels-container container ">
<div class="row ">
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
      <div><img src="../assets/images/brimstone_hotel.jpg" class="img-responsive center-block"  alt=""/></div>
      <div><img src="../assets/images/brimstone_img.jpg" class="img-width" alt=""/></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg"   >
      <div><img src="../assets/images/belvedere_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="../assets/images/belvedere_img.jpg" class="img-width" alt=""/></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
      <div><img src="../assets/images/prospect_hotel.jpg" class="img-responsive center-block " alt=""/></div>
      <div><img src="../assets/images/prospect_img.jpg" class="img-width" alt=""/></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="brown-bg"   >
      <div><img src="../assets/images/farmacy_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="../assets/images/farmacy_img.jpg" class="img-width" alt=""/></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 ">
    <div  class="black-bg"   >
      <div><img src="../assets/images/prairie_hotel.jpg" class="img-responsive center-block" alt=""/></div>
      <div><img src="../assets/images/prairie_img.jpg" class="img-width" alt=""/></div>
    </div>
  </div>
</div>
<div class="row discover-more-container">
 <div class=" col-md-6 text-center ">
 
 <h2 class="text-bold">Dining & Bar</h2>

 <div class="text-cursive">Unique experiences</div>
 </div>
 <div class="col-md-6 ">
 <div class="description">
 <p class="brown-color">
 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
 <div class="brown-button button-padding"><a href="#" class="hover-transition">Discover More</a></div>
 </div>
 </p>
 </div>
</div>

