<div id="Carousel" class="carousel slide " data-ride="carousel">
    <!-- Carousel indicators -->
    <div class="title">The Padre Hotel</div>
    <div class="social-icons">
        <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
        <li data-target="#Carousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item banner-color-overlay active">
            {% region home-banner-image-1 %}
            <div class="carousel-caption">
                <h4>{% region home-banner-caption-h4-1 %}</h4>
                <h3>{% region home-banner-caption-h3-1 %} </h3>
                <a class="hover-transition" href="/rooms-and-suites/">Discover More </a>
            </div>
        </div>
        
        <div class="item banner-color-overlay">
            {% region home-banner-image-2 %}
            <div class="carousel-caption">
                <h4>{% region home-banner-caption-h4-2 %}</h4>
                <h3>{% region home-banner-caption-h3-2 %} </h3>
                <a class="hover-transition" href="/location/">Discover More </a>
            </div>
        </div>
        <div class="item banner-color-overlay">
              {% region home-banner-image-3 %}
            <div class="carousel-caption">
                <h4>{% region home-banner-caption-h4-3 %}</h4>
                <h3>{% region home-banner-caption-h3-3 %} </h3>
                <a class="hover-transition" href="/special-offers/">Discover More </a>
            </div>
        </div>
        <div class="item banner-color-overlay">
              {% region home-banner-image-4 %}
            <div class="carousel-caption">
                <h4>{% region home-banner-caption-h4-4 %}</h4>
                <h3>{% region home-banner-caption-h3-4 %} </h3>
                <a class="hover-transition" href="/gallery/">Discover More </a>
            </div>
        </div>
    </div>
    
</div>