
<div class="home-offers ">
  <img src="/assets/images/flower-left.png"  class="flower-right" alt=""/>
  <div class="container global-container ">
    <div class="row">
     <div class="col-md-12 no-gutter">
      <div class="header">
        <h3 class="text-bold"> {%region home-special-offers-title %} </h3>
        <span class="dimond"> ◆</span>
        <p>{%region home-special-offers-para %}</p>
      </div>
      <div class="offers-list"  rt3-special-rates="specials">
        <div class="row no-gutter">
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> 
             <div class="img-container">
              <img ng-src="[[ specials.special_rates[1].lead_photo_url.large]]"  class="img-width"  alt=""/>
            </div>
            <h5>[[ specials.special_rates[1].rate_plan_name | filterHtmlChars ]]</h5>
            <p>[[ specials.special_rates[1].short_description | filterHtmlChars ]]</p>
            <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[1].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button">View offer</a></div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 ">
          <div class="item-padding"> 
            <div class="img-container">
              <img ng-src="[[ specials.special_rates[2].lead_photo_url.large]]"  class="img-width"  alt=""/>
            </div>
            <h5>[[ specials.special_rates[2].rate_plan_name | filterHtmlChars ]]</h5>
            <p>[[ specials.special_rates[2].short_description | filterHtmlChars ]]</p>
            <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[2].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button">View offer</a></div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 ">
          <div class="item-padding">
           <div class="img-container">
             <img ng-src="[[ specials.special_rates[3].lead_photo_url.large]]"  class="img-width"  alt=""/>
           </div>
           <h5>[[ specials.special_rates[3].rate_plan_name | filterHtmlChars ]]</h5>
           <p>[[ specials.special_rates[3].short_description | filterHtmlChars ]]</p>
           <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[3].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button button-zindex">View offer</a></div>
         </div>
       </div>
     </div>
   </div>
   <div class="row view-all-button-container ">
    <div class="transparant-button ">

      <a href="/special-offers/" class="hover-transition">View all offers</a></div>
    </div>
    <div class="viewallspecials">
      {%region home-special-offers-couple-img %}
      
      
    </div>
  </div>
</div>
<div class="row activities-section">
  <div class="  col-md-6 text-center ">
    <h2 class="text-bold ">{%region home-activities-events-title %}</h2>
    <div class="text-cursive">{%region home-activities-events-cursive %}</div>
  </div>
  <div class="col-md-5 ">
    <p class="brown-color">
      {%region home-activities-events-para %}
      
      <div class="brown-button button-padding"><a href="/play/events/" class="hover-transition">discover more</a></div>
    </p>
  </div>
</div>
<div class="row ">
  <div class="col-sm-12 lady pull-left no-gutter ">
   {%region home-activities-events-carousel-img %}
   
 </div>
 <div class="col-sm-12 col-md-7 pull-right no-gutter  ">
  <div id="testmonials" class="carousel slide testmonials" data-ride="carousel"> 
    <!-- Carousel indicators -->

    <ol class="carousel-indicators">
      <li data-target="#testmonials" data-slide-to="0" class="active"></li>
      <li data-target="#testmonials" data-slide-to="1"></li>
      <li data-target="#testmonials" data-slide-to="2"></li>
      <li data-target="#testmonials" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        {%region home-activities-events-carousel-1 %}
      </div>
      <div class="item">
        {%region home-activities-events-carousel-2 %}
      </div>
      <div class="item">
        {%region home-activities-events-carousel-3 %}
      </div>
      <div class="item">
       {%region home-activities-events-carousel-4 %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
