
<section class="home-bakersfield ">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-12 col-md-6 no-gutter">
        <div class="section-border">
          <h4>{% region home-bakersfield-title %}</h4>
          <span class="dimond"> &#9670;</span>
          {% region home-bakersfield-description %}
        </div>
      </div>
      <div class="col-sm-12 col-md-6 no-gutter">
      {% region home-bakersfield-image-1 %}
      </div>
      </div>
      <div class="row padre" >
       
        <div class="col-sm-12 col-md-6 no-gutter">
        {% region home-bakersfield-image-2 %}
        </div>
        <div class="col-sm-12 col-md-6 no-gutter ">
          <div class="row bg-text">padre {% region home-bakersfield-historical %}
         
        </div>
        <div class="row no-gutter">
          <div class="col-sm-12 "> <a href="/contact/" class="hover-transition">CONTACT US</a> </div>
        </div>
      </div>
    </div>
  </section>
