
<section class="home-events-wedding   section-margin">
<div class="container">
<div class="row">
<div class="header">
<div class="row bg-text">gather
  <span>special events & weddings</span>
  </h2>
 
 </div>
 
</div>
<div class="discovermore-img">
<div class="white-button center-button "><a href="/gather/corporate-meetings&events/" class="hover-transition">discover more</a></div>
<div class="row no-gutter">
 <div class="col-xs-6 col-md-6 no-gutter">
 <img src="/assets/images/home-events1.jpg" class="img-width" alt=""/>
</div>
 <div class="col-xs-6 col-md-6 no-gutter">
 <img src="/assets/images/home-events2.jpg" class="img-width" alt=""/>
</div>
</div>
<div class="row no-gutter">
 <div class="col-xs-6 col-md-6 no-gutter">
 <img src="/assets/images/home-events3.jpg" class="img-width" alt=""/>
</div>
 <div class="col-xs-6 col-md-6 no-gutter">
 <img src="/assets/images/home-events4.jpg" class="img-width" alt=""/>
</div>
</div>
</div>
</div>

</div>
</section>
