

  <div id="Carousel" class="carousel slide " data-ride="carousel">
    <!-- Carousel indicators -->
    <div class="title">The Padre Hotel</div>
    <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
    <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
       
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item   banner-color-overlay active">
            <img src="/assets/images/location-banner1.jpg" alt="First Slide">
            <div class="location-carousel-caption">
           <h3> Stay and Play</h3>
            </div>
        </div>
        
        <div class="item  banner-color-overlay">
            <img src="/assets/images/location-banner2.jpg" alt="Third Slide">
             <div class="location-carousel-caption">
            <h3>Oldie But a Goodie<br>Since 1928</h3>
            </div>
        </div>
        <div class="item  banner-color-overlay">
            <img src="/assets/images/location-banner3.jpg" alt="Fourth Slide">
              <div class="location-carousel-caption">
           <h3>Kick Up Your Boots</h3>
            </div>
        </div>
      
    </div>
    
</div>

