 
  <div  rt3-room-details="details"  rt3-rooms-browser="browser" data-room-id="{{ page.roomCode }}" id="Carousel" class="carousel slide " data-ride="carousel">
    <!-- Carousel indicators -->
    <div class="title">The Padre Hotel</div> 
    <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
    <ol class="carousel-indicators">
        <li ng-repeat="photo in details.photos" data-target="#Carousel" data-slide-to="[[$index]]" ng-class="{active:!$index}"></li> 
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner carousel-height" role="listbox">
        <div ng-repeat="photo in details.photos"  class="item banner-color-overlay"  ng-class="{active:!$index}">
            <img ng-src="[[photo.large]]" alt="banner room [[details.name]]">
            <div class="room-carousel-caption">
           <h3>[[details.name]]</h3>
           <h6>TONIGHT’S RATE: [[ browser.roomRates[ {{ page.roomIndex }} ] ]]</h6>
          <div class="brown-button gold-button"><a href="https://thepadrehotel.reztrip.com/search?&selected_room={{ page.roomCode }}" target="_blank" class="hover-transition">Book this suite</a></div>
            </div>
        </div>
       
    </div>
    
</div> 
