

  <div id="Carousel" class="carousel slide " data-ride="carousel">
    <!-- Carousel indicators -->
    <div class="title">The Padre Hotel</div>
    <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
    <ol class="carousel-indicators">
       <li ng-repeat="offering in specialOffer.images" data-target="#Carousel" data-slide-to="[[$index]]" ng-class="{active:!$index}"></li> 
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner carousel-height">
        <div  ng-repeat="offering in specialOffer.images"  class="item banner-color-overlay"  ng-class="{active:!$index}">
            <img ng-src="[[offering.large]]" alt="First Slide">
            <div class="room-carousel-caption">
           <h3>[[specialOffer.rate_plan_name | filterHtmlChars]] </h3>
           <h6><!--[[specialOffer.booking_start_date | filterHtmlChars | dateFrmt]]-<br>[[specialOffer.booking_end_date | filterHtmlChars | dateFrmt ]]--></h6>
           <div class="brown-button gold-button"> <a ng-href="https://thepadrehotel.reztrip.com/en/special_offer?rate_code=[[specialOffer.rate_plan_code]]" class="hover-transition" target="_blank"> Book this OFFER</a></div>
            </div>
        </div>
         
    </div>
    
</div>

