.contact-three-images{
	.contact-img{
			height:405px;
			background-size:cover;
			float: left;
			
			 @media(max-width: 800px) {
				height:200px; 
			 }
			  @media(max-width: 320px) {
				height:110px; 
			 }
	}
		.contact-img1{
			
			
			width: 25.0%;
			
			}
		.contact-img2{
			
			
			width: 45.819%;
			
			
		
		}
		.contact-img3{
			
			
			width: 29.181%;
			
		}
	}
.contact-form{
	
		margin-top: 50px;
		text-transform:uppercase;
		@media (max-width: 768px) {
			
			margin-top: 20px;	
			padding-right: 20px;
			 }
		
	label{
		
    	font-family: 'Avenir LT W01_45 Book1475508';
		font-size:14px;
		color:#8f7d4f;
		font-weight:600;
		margin-top: 16px;
		letter-spacing:.1em;
		
		}
	
	.form-control{
	    border-color: #8f7d4f;
		border-radius: 0px;
		box-shadow: none;
		letter-spacing: 1px;
		font-size: 14px;	
		padding:21px;
		}
	.formbtn {
          
            width: 137px;
            height: 43px;
			font-size: 13px;
           	position:relative;
			font-family:'Avenir LT W01_65 Medium1475532';
            background-color: #fff;
            border: none;
			font-weight:normal;
			letter-spacing:.1em;
            border: solid 1px #8f7d4f;
            display: block;
			color:#8f7d4f;
			padding-left:20px;
			text-align: left;
			border-radius: 0px;
			text-transform:uppercase;
			margin-top: 35px;
			&:hover{
				
					background: #8f7d4f; /* Old browsers */
					background: -moz-linear-gradient(left,  #8f7d4f 68%, #ffffff 64%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left,  #8f7d4f 68%,#ffffff 64%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right,  #8f7d4f 68%,#ffffff 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f7d4f', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


				color:#fff;
				}
			span{
				       position: absolute;
						right: 0px;
						height: 42px;
						width: 43px;
						top: 0px;
						padding: 9px;
						border-left: 1px solid #8a6d3b;
				}
            
        }
	}
.rfp-form{	
margin:0px;
h6{
	font-size:16px;
	font-weight:600;
	color:#9d8d64;
	letter-spacing: .1em;
	}
.checkbox-holder{
	padding: 0px;
    margin:0px 12px;
		label{
			margin:0px;
			padding:10px 18px 10px 10px;
			font-weight:normal;
			}
	}
	
}