.home-activities {
	.border-buttom{
		 border-bottom:20px solid #8f7d4f;
		  
		}
		.title{
			   font-size: 72px;
			   font-family: 'Avenir LT W01_95 Black1475556';
			   color: #8f7d4f;
			  padding-left:20px;
			   height: 96px;
			  text-transform: uppercase;
			   border-bottom:20px solid #8f7d4f;
				@media (max-width : 480px)
					{
					     font-size: 38px;
   						 height: 60px;
					 }
			  }
		.hotel-name{
			padding:38px 0px 10px 0px;
			@media (max-width: 480px){
			font-size:33px;	
			padding: 28px 0px 9px 0px;
		}
		}
	}
	