.home-activities {
		    padding-top: 32px;
	.border-buttom{
		 border-bottom:20px solid #8f7d4f;
		  
		}
		.title{
			   font-size: 72px;
			   font-family: 'Avenir LT W01_95 Black1475556';
			   color: #8f7d4f;
			  padding-left:38px;
			   height: 96px;
			  text-transform: uppercase;
			   border-bottom:20px solid #8f7d4f;
				@media (max-width : 480px)
					{
					     font-size: 38px;
   						 height: 60px;
					 }
			  }
		
	}
	