.location-container{
		h3{
				font-size: 48px;
				font-family: 'Avenir LT W01_95 Black1475556';
				padding-top:55px;
				text-transform:uppercase;
		}
	
	.address{
		padding-left:55px;
		background-color: #8f7d4f;
		color:#fff !important;
		.col-md-12{
			 padding:0px;
			}
		h3{
			font-size: 48px;
    		
			}
		h6{	
			font-family:'Avenir LT W01_65 Medium1475532';
			text-transform:uppercase;
			letter-spacing:1px;
			padding-top:50px;
			}
		p{
			color:#fff;
			font-size:12px;
			}
		}
	 .directions{
		padding-left:77px;
		 h3{ 
		 	 letter-spacing:1px;
			 color:#8f7d4f;
			 }
		h5{ 
			font-family:'Avenir LT W01_65 Medium1475532';
		    letter-spacing:1px;
			padding-top:50px;
		 	color:#8f7d4f;
			font-size:14px;
			}
		 }
	.location-images{
		padding-left:52px !important;
	}
		 
	
	}