---
layout: default

---



<section class="global-container banner-onscroll">
{% include aboutus-carousel.html %}  

	<div class="home-bakersfield ">
		<div class="container ">
			<div class="row ">
				<div class="col-sm-12 col-md-6 no-gutter">
					<div class="section-border">
						<h4>BAKERSFIELD’S ONLY 4-DIAMOND HOTEL</h4>
						<span class="dimond"> &#9670;</span>
						<p>Bakersfield’s best hotel, Padre Hotel, first opened its doors in 1928 and today is Bakersfield’s only 4-Diamond Hotel.  After being closed for several years, the historic hotel underwent a transformation to become a sophisticated boutique hotel with restaurants, nightlife, wedding venues and conference facilities.  After a long day out in the oil fields, working on the farm, or just exploring Bakersfield, come unwind in our luxurious guest rooms, host your private event, or enjoy one of Padre Hotel Bakersfield’s five unique dining options.</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 no-gutter">
					<img src="/assets/images/aboutus_img1.jpg" class="img-width" alt=""/>
				</div>
			</div>
			<div class="row padre" >
				<div class="col-sm-12 col-md-6 no-gutter">
					<img src="/assets/images/aboutus_img2.jpg" class="img-width" alt=""/>
				</div>
				<div class="col-sm-12 col-md-6 no-gutter ">
					<div class="row bg-text">padre
  
						<span>a historical landmark</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href="/contact/" class="hover-transition">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="home-offers ">

  <div class="container global-container ">
    <div class="row aboutus-offers">
      <div class="header">
        <h3 class="text-bold">special offers</h3>
        <span class="dimond"> ◆</span>
      <p>Whether it's a romantic evening, a foodie retreat or an extended vacay you're looking for, <br>
      	   let our unique hotel packages be the cherry on top of your Padre getaway.
          </p>
      </div>
      <div class="offers-list"  rt3-special-rates="specials">
        <div class="row no-gutter">
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> 
             <div class="img-container">
            <img ng-src="[[ specials.special_rates[1].lead_photo_url.large]]"  class="img-width"  alt=""/>
            </div>
              <h5>[[ specials.special_rates[1].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[1].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[1].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding"> 
            <div class="img-container">
            <img ng-src="[[ specials.special_rates[2].lead_photo_url.large]]"  class="img-width"  alt=""/>
            </div>
              <h5>[[ specials.special_rates[2].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[2].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[2].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding">
             <div class="img-container">
             <img ng-src="[[ specials.special_rates[3].lead_photo_url.large]]"  class="img-width"  alt=""/>
             </div>
              <h5>[[ specials.special_rates[3].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[3].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/[[specials.special_rates[3].rate_plan_name | spaceDash]]/" class="hover-transition view-offer-button">View offer</a></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    
  </div>
</div>
<div class="row view-all-button-container">
  <div class="transparant-button "><a href="/special-offers/" class="hover-transition">View all offers</a></div>
</div>

<hr class=" hr-border">
{% include  home-activities.html %} 
</section> 


