---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">The Padre Hotel</div>
        <img src="/assets/images/gather/corporate-meetings&events.jpg" class="img-width" alt=""/>
        <h1>CORPORATE MEETINGS & EVENTS</h1>
      </div>
    </div>
    <div class="gallery-container  common-container dine">
    <div class="row collage">
    <div class="white-button center-button "><a href="/request-for-proposal/" class="hover-transition">REQUEST FOR PROPOSAL</a></div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/corporate-events1.jpg" class="img-width" alt="">
    </div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/corporate-events2.jpg" class="img-width" alt="">
    </div>
     <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/corporate-events3.jpg" class="img-width" alt="">
    </div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/corporate-events4.jpg" class="img-width" alt="">
    </div>
    </div>
      <div class="row ">
        <div class="col-md-12">
        <h5>MEET WITH SUCCESS</h5>
          <p>The Padre Hotel delivers the ultimate in custom corporate meetings. Our meeting spaces offer fresh design schemes, gourmet catering and high-end amenities. The hotel offers complimentary wi-fi and the latest in audio-visual technology. We’ll make it easy with our straightforward meeting packages or work with you to customize something unique. Meeting planners, let Padre help you perfect your next Bakersfield meeting, conference or event.</p>
         <p><strong>Coming back soon or bringing a group?</strong><br>

Small Groups and Corporate Accounts can save up to <strong>30%</strong>. Call us at <a href="tel:6614274900">661-427-4900</a> to reserve your meeting today.</p>
 		  <div class="row">
          <div class="col-md-6" >   <div class="brown-button"> <a href="/pdf/gather/BanquetMenu.pdf" target="_blank" class="hover-transition">DOWNLOAD OUR BANQUET MENU</a> </div>
          </div>
          <div class="col-md-6" >
          <div class="brown-button"> <a href="/pdf/gather/PadreHotel_EventSpecs042716_web.pdf" target="_blank" class="hover-transition">VIEW OUR FLOORPLANS </a> </div>
          </div>
          </div>
<div class="row">
           
            <!--<div class="col-md-12" >
              <div class="brown-button"> <a href="/request-for-proposal/"  class="hover-transition">REQUEST FOR PROPOSAL</a> </div>
            </div>-->
          </div>
     
        
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
