---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">The Padre Hotel</div>
        <img src="/assets/images/play/events.jpg" class="img-width" alt=""/>
        <h1>Events</h1>
      </div>
    </div>
    <div class="gallery-container  common-container dine">
      <div class="row ">
        <div class="col-md-12">
          
          
           
          
           <div id="fallwine" class="event-list">
            <h5 >FALL WINE SERIES</h5>
            <img src="/assets/images/events/FallWine_WebCalendar.jpg" class="img-width" alt=""/>
            <div class="row ">
              <div class="col-md-6">
                <p  class="description"> Sip It, Swish It, Swig It, Swill It! The summer may be winding down, but we’re still wining every 3rd Wednesday of the month from 6-8pm at Prospect Lounge in The Padre Hotel. Your admission to our signature Summer Wine Series includes vino and handcrafted bites. </p>
              </div>
              <div class="col-md-6 link-container">
                <div class="ticket"><span>
                  <h6>Tickets at the door</h6>
                  </span>
                  <p>$15 general, $10 registered hotel guests</p>
                </div>
              </div>
            </div>
          </div>
          
           <div id="brews" class="event-list">
            <h5>Brews & Bites: Beer Dinner Series - Almanac Beer Co.</h5>
            <img src="/assets/images/events/PADRE_BeerDinner_WebCalendar.jpg" class="img-width" alt=""/>
            <div class="row ">
              <div class="col-md-6 ">
                <p  class="description">  We're joining forces with Almanaz Beer Co. on Thursday, September 15th 3rd for our intimate Brews & Bites Beer Dinner Series! Tap into 5 courses perfectly paired with farm to barrel selections with an intimate table of 20 people for only $75 a person. </p>
              </div>
              <div class="col-md-6 link-container">
               <div class="ticket"><span>
                 <div class="transparant-button "> <a href=" https://www.eventbrite.com/e/padre-hotel-presents-beer-dinner-with-almanac-brewing-company-tickets-26974037071" target="_blank" class="hover-transition"> BUY TICKETS</a> </div>
                  </span>
                 
                </div>
                
              </div>
            </div>
          </div>
          
             
          
             <div id="yappyhour" class="event-list">
            <h5>Yappy Hour </h5>
            <img src="/assets/images/events/PADRE_YappyHour_WebCalendar.jpg" class="img-width" alt=""/>
            <div class="row ">
              <div class="col-md-6 ">
                <p class="description">Pups are taking over Prairie Fire every 1st Friday of the month from 6-9pm! Join Marley’s Mutts on the roof and meet their adorable, adoptable dogs while you sip on the night’s featured cocktails. 20% of the night’s proceeds will be donated to dog charity.</p>
              </div>
              <div class="col-md-6 link-container">
               <div class="ticket"><span>
                  <h6>Free Admission!</h6>
                  </span>
                  
                </div>
              </div>
            </div>
          </div>
         
         
         <div class="event-list">
            <h5>Brunch & Bubbles at Belvedere Room</h5>
            <img src="/assets/images/events/preview-full-Padre_Brunch15_WebCalendar.jpg" class="img-width" alt=""/>
            <div class="row ">
              <div class="col-md-6">
                <p  class="description">  Because brunch pairs best with bubbles, every Sunday in the Belvedere Room at The Padre we're serving up free flowing champagne with a buffet of all your brunch faves from 9am to 2pm. $29 adults // $13 children (12 & under)</p>
              </div>
              <div class="col-md-6 link-container">
                 <div class="ticket"><span>
                  <h6>Reservations are strongly recommended </h6>
                  </span>
                  <p>Call: <a href="tel:6614274900">661-427-4900</a></p>
                </div>
              </div>
            </div>
          </div> 
        </div>
     
    </div>
  </div>
  <div class="row ">
    <hr class=" hr-border">
  </div>
  </div>
</section>
