---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">The Padre Hotel</div>
        <img src="/assets/images/dine/farmacy-cafe.jpg" class="img-width" alt=""/>
        <h1>FARMACY CAFE</h1>
      </div>
    </div>
    <div class="gallery-container  common-container dine">
      <div class="row ">
        <div class="col-md-12">
        
          <p>Brew the highest octane coffee in town. Careful, you may need a prescription. We open at 6am sharp for those in need of a jolt on the way to the office. Breakfast is optional, unless you’re looking for the best eggs in town.</p>
          
            <p>Full breakfast daily and our homemade grab n’ go is a great way to take the Padre to your desk.</p>
          
         <div class="brown-button"> <a href="/pdf/dine/Farmacy_Menu061016WEB.pdf" target="_blank" class="hover-transition">VIEW MENU</a> </div>
      
          <div class="dine-hours-section center-block">
            <h4>Hours </h4>
            <h6>Farmacy Cafe Breakfast Hours</h6>
            <p>Daily 6am to 11am</p>
            <h6>Grab ‘n Go Sandwiches, Salads, Pastries, & Coffee</h6>
            <p>Open daily at 6am</p>
     
            
          </div>
         
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
