---
layout: default
---
<section class="global-container ">
   <div class="gallery-container">
      {% region gallery-hotel-title %}
      
      <div class="row no-gutter padre-gallery" >
        {% region  gallery-hotel-images %}  
      
      </div>

       {% region  gallery-rooms-title %}
       <div class="row no-gutter padre-gallery" >
         {% region  gallery-rooms-images %}
       </div>

      
      {% region  gallery-bar-title %}
       <div class="row no-gutter padre-gallery" >
      {% region  gallery-bar-images %}
     </div>

      {% region  gallery-events-title %}
      
         
         
         
      </div>
      
   </section>