---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">The Padre Hotel</div>
        <img src="/assets/images/gather/holiday-parties.jpg" class="img-width" alt=""/>
        <h1>HOLIDAY PARTIES</h1>
      </div>
    </div>
    <div class="gallery-container  common-container dine">
    <div class="row collage">
    <div class="white-button center-button "><a href="/request-for-proposal/" class="hover-transition">REQUEST FOR PROPOSAL</a></div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/holiday-parties1.jpg" class="img-width" alt="">
    </div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/holiday-parties2.jpg" class="img-width" alt="">
    </div>
     <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/holiday-parties3.jpg" class="img-width" alt="">
    </div>
    <div class="col-xs-6 col-md-6 no-gutter">
     <img src="/assets/images/gather/holiday-parties4.jpg" class="img-width" alt="">
    </div>
    </div>
      <div class="row ">
        <div class="col-md-12">
        <h5>THE HOLIDAYS ARE OH, SO BRIGHT AT BAKERSFIELD’S BEST EVENT VENUE.</h5>
          <p>Let us plan your family or office holiday party. You’ll treat your employees to an unforgettable corporate holiday party with gourmet food and drink from Bakersfield’s premier restaurant and event space. Don’t worry, it’s more affordable than you think. We’ll take care of all the details so you can enjoy the season.</p>
        
          <p>Reserve your party by <strong>October 31</strong> and choose a special holiday gift just for YOU!</p>
          
          
         <div class="row">
            <div class="col-md-12" >
              <div class="brown-button"> <a href="/pdf/gather/Padre_Holiday_BanquetMenus.pdf" target="_blank" class="hover-transition">Download Our Padre Hotel Holiday Menu</a> </div>
            </div>
            <!--<div class="col-md-5" >
              <div class="brown-button"> <a href="/request-for-proposal/"  class="hover-transition">REQUEST FOR PROPOSAL</a> </div>
            </div>-->
          </div> 
          
          
         
          <p>Call today to start planning! <a href="tel:6614274900"> 661-427-4900 </a></p>
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
