---
layout: default
---
<section class="global-container banner-onscroll content-top-margin  "> {% include location-carousel.html %} </section>
<section class="container global-container location-container">
  <div class="row info-row-container" >
    <div class="col-md-3 no-gutter logo-container " >
      <div class="row no-gutter address">
        <h3>INFO</h3>
        <div class="col-sm-6 col-md-12">
          <p>Unaccompanied guests under the age of 21 should contact the hotel prior to their arrival to make arrangements for their stay.</p>
          <h6 class="address-title"> Address</h6>
          <p><a href="https://goo.gl/maps/ec3nHfzzCen"  target="_blank" > The Padre Hotel<br>
            1702 18th Street<br>
            Bakersfield, CA 93301<br>
            </a> </p>
        </div>
        <div class="col-sm-6 col-md-12">
          <h6> contact</h6>
          <p> Toll Free	888-GIDDE-UP<br>
            <a href="tel:+16614274900">Tel +1 661 427 4900</a>
             Fax		+1 661 328 0034<br>
          </p>
        </div>
        <div class="col-sm-6 col-md-12">
          <h6>Check-in / Out</h6>
          <p> Check-in time:<br>
            4:00pm<br>
          </p>
          <p class="time-out"> Check-out time:<br>
            11:00am </p>
        </div>
        <div class="col-sm-6 col-md-12">
          <h6>PETS</h6>
          <p> The Padre Hotel is a pet friendly hotel. We charge a $50 non-refundable pet cleaning fee per pet. Occasionally the Hotel will need to contact pet owners if the pet is left unattended and causing a disturbance. Please leave your cell phone contact information with the front desk for this purpose. If the pet causes any damage to the room or furniture, you will incur further fees. </p>
        </div>
        <div class="col-sm-6 col-md-12 vertical-padding">
          <h6>gps</h6>
          <p> 35°22'31.9548" N<br>
            -119°01'17.8212" W </p>
        </div>
      </div>
      <div class="row no-gutter logo-container">
        <div class="col-md-12" > <img src="/assets/images/location-logo.jpg" class="center-block logo"  alt=""/></div>
      </div>
    </div>
    <div class="col-md-5  directions">
      <h3>directions</h3>
      <div class="col-md-12">
        <h5>FROM THE BAKERSFIELD AIRPORT</h5>
        <p> When exiting the airport head east on Boughton Drive toward Skyway Drive<br>
          Take third right onto Airport Drive<br>
          Turn right to merge onto CA-204 S/Golden State Ave.<br>
          Turn right onto H Street<br>
          Valet parking is on right at 1820 H Street<br>
        </p>
      </div>
      <div class="col-md-12">
        <h5>FROM THE LOS ANGELES AREA</h5>
        <p> Take I-5 north toward Sacramento<br>
          Continue onto CA-99 towards Bakersfield/Fresno<br>
          Take Exit 25 for California Ave toward Civic Center<br>
          Turn right at California Ave.<br>
          Take 1st left onto Oak St.<br>
          Take 1st right onto Truxtun Ave.<br>
          Turn left onto F Street<br>
          Turn right onto 19th Street<br>
          Turn right onto H Street<br>
          Valet parking is on right at 1820 H Street<br>
        </p>
      </div>
      <div class="col-md-12">
        <h5>FROM THE FRESNO AREA</h5>
        <p> Take CA-99 S toward Bakersfield/Los Angeles<br>
          Keep right to continue on CA-204/State Route 204/Golden State Avenue<br>
          Turn right onto F Street<br>
          Turn left onto 18th Street<br>
          Valet parking is on the left 1820 H Street<br>
        </p>
      </div>
    </div>
    <div class="col-md-4  no-gutter location-images" >
      <div class="location-img1"></div>
      <div class="location-img2"></div>
      <div class="location-img3"></div>
    </div>
  </div>
  <div class="downtown-section row" style="">
    <div class="col-sm-12 col-md-9 no-gutter"> <img src="/assets/images/location-img-belowaddress.jpg" class="img-width" /></div>
    <div class="col-sm-12 col-md-3 content no-gutter" >
      <h5>Downtown</h5>
      <h6>in sunny bakersfield</h6>
      <p class="center-block">The Padre Hotel is located in the heart of Downtown Bakersfield. We are very close to Rabo Bank Arena, the Fox Theater and the arts district.</p>
    </div>
  </div>
  <div class="attractions">
    <div class="row">
      <div class="col-md-4">
        <h3>Attractions</h3>
        <h5>POPULAR AREAS in close proximity</h5>
        <ul>
          <li> City Center - 2.2km </li>
          <li>Fox Theatre - 100 m </li>
          <li>Buena Vista Museum - 320 m</li>
          <li> Crystal Palace and Museum - 980 m </li>
          <li>McMurtry Aquatic Center - 1.1km </li>
          <li>The Dome - 1.5km </li>
          <li>Rabobank Arena - 700 m </li>
          <li>Amf Westchester Bowl - 1.2km </li>
          <li>Kern County Parks and Recreation - 1.1km </li>
          <li>Strongbow Stadium - 1.5km </li>
          <li>Peacocks at Hart Park - 13.2km </li>
          <li>Camelot Park - 1.7km </li>
          <li>Kern County Museum - 2.0km </li>
          <li>California Area Living Museum - 13.8km </li>
          <li>Masonic Lodge - 200 m </li>
          <li>Bakersfield Amtrak - 1.2km </li>
        </ul>
      </div>
      <div class="col-md-8"><img src="../assets/images/location_map.jpg" class="img-width "  alt=""/></div>
    </div>
  </div>
  <div class="row home-offers  section-padding">
    <div class="header">
      <h3 class="text-bold">events at the padre</h3>
      <span class="dimond"> ◆</span>
      <p> Giddy up! From annual whiskey tastings to a weekly wine series,<br>
        we're keeping your Bakersfield social calendar jam packed at The Padre Hotel! </p>
    </div>
    <div class="offers-list">
      <div class="row no-gutter">
        <div class="col-sm-4 col-md-4 ">
          <div class="item-padding"> <img src="/assets/images/events1.jpg"  class="img-width"  alt=""/>
            <h5>FALL WINE SERIES </h5>
            <p>Sip It, Swish It, Swig It, Swill It! The summer may be winding down, but we’re still wining every 3rd Wednesday of the month ... </p>
            <div class="brown-button "><a href="/play/events/#fallwine
" class="hover-transition">View event</a></div>
          </div>
        </div>
         <div class="col-sm-4 col-md-4 ">
          <div class="item-padding"> <img src="/assets/images/events3.jpg"  class="img-width"  alt=""/>
            <h5>YAPPY HOUR </h5>
            <p>Pups are taking over Prairie Fire every 1st Friday of the month from 6-9pm! Join Marley’s Mutts on the roof and meet their ... </p>
            <div class="brown-button "><a href="/play/events/#yappyhour
" class="hover-transition">View event</a></div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 ">
          <div class="item-padding"> <img src="/assets/images/events2.jpg"  class="img-width"  alt=""/>
            <h5>BRUNCH & BUBBLES</h5>
            <p>Because brunch pairs best with bubbles, every Sunday in the Belvedere Room at The Padre we're serving up free flowing ...</p>
            <div class="brown-button "><a href="/play/events/#Brunch
" class="hover-transition">View event</a></div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <div class="row view-all-button-container">
    <div class="transparant-button "><a href="/play/events/" class="hover-transition">View all events</a></div>
  </div>
  <div class="row">
    <hr class=" hr-border">
  </div>
</section>
