---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">The Padre Hotel</div>
        <img src="/assets/images/dine/prospect.jpg" class="img-width" alt=""/>
        <h1>Prospect </h1>
      </div>
    </div>
    <div class="gallery-container  common-container dine">
      <div class="row ">
        <div class="col-md-12">
          <p>Get into the groove: Speakeasy vibes without all the pretension and twice the cool. Craft cocktails and cult wine are here to quench your thirst while progressive share plates entertain your palate. </p>
          
          <p>But save room for to get lost in the melodic melody of the lounge. A comfortable seat on our couch awaits you; we promise you'll feel right at home. </p>
          
         
         <div class="row">
          <div class="col-md-12" >
          <div class="brown-button">
           <a href="/pdf/dine/Prospect_Menu_092116_WEB.pdf" target="_blank" class="hover-transition">VIEW MENU</a> </div>
          </div>
          
          </div>
         <div class="dine-hours-section center-block">
            <h4>Hours </h4>
          
            <p>Tuesday through Thursday 6pm - 11pm</p>
            <p>Friday 6pm - 1:30am</p>
         
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
