---
layout: default
---
<section class="global-container banner-onscroll content-top-margin"> {% include room-details-carousel.html %} </section>
<section class="container global-container room-container">
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li><a href="#">FARMER’S DAUGHTER SUITE</a> </li>
        <li><a href="#"> DOUBLE DEUCE</a></li>
        <li><a href="#">MAVERICK</a></li>
        <li><a href="#">40 WINKS</a></li>
        <li><a href="#">OIL BARON SUITE</a></li>
        <li><a href="#">HEAD HONCHO</a></li>
        <li><a href="#">CORNER POCKET</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="style-comfort-section"> <img src="../assets/images/flower-left-room-details.png" style="position:absolute;z-index:40;" class="flower-left" alt=""/>
  <div class="global-container">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-10 pull-right no-gutter room-couple-img-width">
          <h5>Lorem ipsum dolor sit amet, tincidunt vel nisl donec nec eget viverra, vestibulum dictumst risus, vehicula volutpat tortor, vestibulum erat nulla ac nulla. Eget orci sed, non pede bibendum iaculis vel eros iaculis. Est aliquet amet maecenas imperdiet. Leo pellentesque, in amet litora etiam.</h5>
          <img src="../assets/images/style-comfort-img1.jpg" class="img-width" alt=""/> </div>
      </div>
      <div class="row style-container">
        <div class="col-sm-7 text-left-alignment">
          <h2 class="text-bold">style & comfort</h2>
          <h3 class="text-cursive">Unique stay</h3>
          <p class="brown-color">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <div class="brown-button "><a href="#" class="hover-transition">Book this suite</a></div>
        </div>
        <div class="col-sm-5 facilities-section">
          <h6>FACILITIES & AMENITIES</h6>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 no-gutter">
          <div class="gallery-banner">
            <div class="row bg-text">Gallery <span>the oil baron suite</span> </div>
          </div>
          <img src="../assets/images/rooms-img.jpg"  class="img-width thickborder-bottom" alt=""/>
          <div class="row discover-list-container">
           <h3 class="text-bold ">discover more rooms</h3>
          <div class="col-sm-12 col-md-4"><img src="../assets/images/discover-rooms1.jpg"  class="img-width" alt=""/>
          <a href="#">FARMER’S DAUGHTER SUITE</a>
          </div>
		  <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms2.jpg"  class="img-width" alt=""/>
          <a href="#">HEAD HONCHO</a>
          </div>
          <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms3.jpg"  class="img-width" alt=""/>
          <a href="#">40 WINKS</a>
          </div>
			
			
        </div>
        <div class="row  button-container center-block">
           
          <div class="transparant-button "><a href="#" class="hover-transition">View all Rooms</a></div>
          </div>
        </div>
      </div>
      <div class="row footer-top-border">
  <hr>
</div>
    </div>
  </div>
</section>
