---
layout: default
---
<section class="global-container banner-onscroll content-top-margin"> {% include room-details-carousel.html %} </section>
<section class="container global-container room-container">
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li><a href="/room/farmers-daughter-suite/">FARMER’S DAUGHTER SUITE</a> </li>
        <li><a href="/room/double-deuce">DOUBLE DEUCE</a> </li>
        <li><a href="/room/maverick/">MAVERICK</a> </li>
        <li><a href="/room/40-winks/">40 WINKS</a> </li>
        <li><a href="/room/oil-baron-suite/">OIL BARON SUITE</a> </li>
        <li><a href="/room/head-honcho-suite/">HEAD HONCHO</a> </li>
        <li><a href="/room/corner-pocket/">CORNER POCKET</a> </li>
        <li><a href="/room/marevick-ada/">MAVERICK ADA</a> </li>
      </ul>
    </div>
  </div>
</section>
<section rt3-room-details="details"  data-room-id="DBL" class="style-comfort-section"> <img src="/assets/images/flower-left-room-details.png" class="flowerleft" alt=""/>
  <div class="global-container">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-10 pull-right no-gutter room-couple-img-width"> 
          <h5>[[details.description]] </h5>
          <img ng-src="[[details.photos[0].large ]]" class="img-width" alt=""/> </div>
      </div>
      <div class="row style-container">
        <div class="col-sm-7 text-left-alignment">
          <h2 class="text-bold">style & comfort</h2>
          <h3 class="text-cursive">Unique stay</h3>
          <p class="brown-color">[[details.short_description]]</p>
          <div class="brown-button "><a href="https://thepadrehotel.reztrip.com/search?&selected_room={{ page.roomCode }}" class="hover-transition">Book this suite</a></div>
        </div>
        <div class="col-sm-5 facilities-section">
          <h6>FACILITIES & AMENITIES</h6>
          <ul>
            <li ng-repeat=" amenities in details.amenities">[[amenities]]</li>
            
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 no-gutter">
          <div class="gallery-banner">
            <div class="row bg-text">Gallery <span>[[details.name]]</span> </div>
          </div>
          <img src="/assets/images/rooms-img.jpg"  class="img-width thickborder-bottom" alt=""/>
          <div class="row discover-list-container">
           <h3 class="text-bold ">discover more rooms</h3>
          <div class="col-sm-12 col-md-4"><img src="/assets/images/discover-rooms1.jpg"  class="img-width" alt=""/>
          <a href="#">FARMER’S DAUGHTER SUITE</a>
          </div>
		  <div class="col-sm-12  col-md-4"><img src="/assets/images/discover-rooms2.jpg"  class="img-width" alt=""/>
          <a href="#">HEAD HONCHO</a>
          </div>
          <div class="col-sm-12  col-md-4"><img src="/assets/images/discover-rooms3.jpg"  class="img-width" alt=""/>
          <a href="#">40 WINKS</a>
          </div>
			
			
        </div>
        <div class="row  button-container center-block">
           
          <div class="transparant-button "><a href="#" class="hover-transition">View all Rooms</a></div>
          </div>
            <hr class="hr-border">
        </div>
      </div>
     
    </div>
  </div>
</section>
