---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
<div class="container">
<div class="row">
 <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
 <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
   <div class="title">The Padre Hotel</div>
   <img src="/assets/images/specials-listing-banner.jpg" class="img-width" alt=""/> 
    <h1>Sitemap</h1>
   </div>

</div>
<div class="gallery-container media-container common-container container">
<div class="row ">
 
      <div class="col-md-12">
    <ul class="sitemap">
       {% assign sorted = (site.pages | sort: 'Order') %}
         {% for p in sorted %}
             {% if p.url != '/css/style.css'  and  p.url !='/css/font-awesome.css'    %}
             
              {% if  p.url != '/sitemap/'  %}
              {% if  p.url !='/404/' and  p.url !='/thankyou/' %}
                {% if  p.url == '/'  %}
                <li><a href="{{ p.url }}">Home</a></li>
                {% else %} 
                      {% if p.url contains '/room/' %}
                      <li class="submenu"> - <a href="{{ p.url }}">{{ p.url  | remove: '/room/' | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% elsif p.url contains '/special/' %}
                      <li class="submenu"> - <a href="{{ p.url }}">{{ p.url  | remove: '/special/' | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% elsif p.url contains '/dine/' %}
                           {% if p.Order == 61 %}
                            <li><a href="">Dine</a></li>
                           {% endif %}
                      <li class="submenu"> - <a href="{{ p.url }}">{{ p.url  | remove: '/dine/' | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% elsif p.url contains '/play/' %}
                           {% if p.Order == 71 %}
                            <li><a href="">Play</a></li>
                           {% endif %}
                      <li class="submenu"> - <a href="{{ p.url }}">{{ p.url  | remove: '/play/' | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% elsif p.url contains '/gather/' %}
                           {% if p.Order == 81 %}
                            <li><a href="">Gather</a></li>
                           {% endif %}
                      <li class="submenu"> - <a href="{{ p.url }}">{{ p.url  | remove: '/gather/' | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% else %} 
                      <li><a href="{{ p.url }}">{{ p.url  | remove: '/' | replace: '-', ' ' | camelcase}}</a></li>
                      {% endif %}
                  {% endif %}
                 {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            </ul>

    
</div>
   
 

   </div>
   </div>
    <div class="row ">
    <hr class=" hr-border">
    </div>
 </div>
</section>