---
layout: default
---

<section class="container banner-onscroll content-top-margin global-container room-container "  rt3-special-rates="specials" >
<div class="row">
 <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
 <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
   <div class="title">The Padre Hotel </div>
     {% region special-offers-header %}
   </div>

</div>
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li ng-repeat="special in specials.special_rates"><a ng-href="#[[ special.rate_plan_code]]">[[ special.rate_plan_name | filterHtmlChars ]]</a> </li>
       
       
      </ul>
    </div>
  </div>
</section>
<section class="style-comfort-section"> 
  <div class="global-container">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-10 pull-right no-gutter room-couple-img-width">
         {% region special-offers-description %}
         </div>
      </div>
      
     
      
    </div>
  </div>
</section>
<section class="specials-listings-container"  rt3-special-rates="specials">
 
<div class="specials-listings" ng-repeat="special in specials.special_rates" ng-class="$even ? '' : 'specials-listings-second'">
 <img src="/assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container" id="[[ special.rate_plan_code]]">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img ng-src="[[ special.lead_photo_url.large]]" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area">
   <div class="specials-list-content  ">
          <h3>[[ special.rate_plan_name | filterHtmlChars ]]</h3>
          <span class="dimond"> ◆</span>
          <p>[[ special.short_description | filterHtmlChars ]]</p>
  </div>
<div class="transparant-button-brown  button-position">
            <a ng-href="/special/[[special.rate_plan_name | spaceDash]]/" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>

<!--<div class="specials-listings specials-listings-second">
 <img src="../assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img src="../assets/images/special-list-img-2.jpg" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area ">
   <div class="specials-list-content ">
          <h3>spring for savings</h3>
          <span class="dimond"> ◆</span>
          <p>Vitae condimentum enim nunc bibendum tristique. Mauris leo proin vivamus vestibulum per, ac velit velit, volutpat pede tortor arcu suspendisse amet ac. </p>
  </div>
<div class="transparant-button-brown  button-position">
            <a href="#" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>

<div class="specials-listings">
 <img src="../assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img src="../assets/images/special-list-img-3.jpg" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area">
   <div class="specials-list-content  ">
          <h3>dine & stay Package </h3>
          <span class="dimond"> ◆</span>
          <p>Vitae condimentum enim nunc bibendum tristique. Mauris leo proin vivamus vestibulum per, ac velit velit, volutpat pede tortor arcu suspendisse amet ac. </p>
  </div>
<div class="transparant-button-brown  button-position">
            <a href="#" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>
-->
</section>

<section class="global-container ">
<hr class="border-single-bottom">
 <div class="row no-gutter">
        <div class="col-sm-12">
         
         
          <div class="row discover-list-container "  rt3-rooms-browser="browser" ng-cloak>
            <h3 class="text-bold ">discover more rooms</h3>
           <data-owl-carousel id ="owl-example" class="owl-carousel" data-options="{navigation: true,  pagination: true, rewindNav : false,  navigationText:				['&#8249;','&#8250;'], items : 3, itemsMobile:[479,1], itemsTablet:[800,2], itemsDesktop:[1220,3],	 responsive : true}">
      <div owl-carousel-item="" ng-repeat="list in :: browser.roomsv" class="item" >
       <img  ng-src="[[list.photos[0].yankee_large]]" alt="[[list.name]]">
         <a ng-href="/room/[[list.name | spaceDash]]/">[[list.name]] </a>
      </div>

    </data-owl-carousel>
          </div>
         
          <hr class="hr-border">
        </div>
      </div>
      
</section>