---
layout: default
---
<section class="global-container banner-onscroll content-top-margin"> {% include special-details-carousel.html %} </section>
<section class="container global-container room-container">
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li><a href="#">naughty romance        </a> </li>
        <li><a href="#">spring for savings</a></li>
        <li><a href="#"> dine & stay Package</a></li>
       
      </ul>
    </div>
  </div>
</section>
<section class="style-comfort-section dine-comfort-section">
<img src="../assets/images/dine-flower.png" class="dine-flower" alt="">
  <div class="global-container">
    <div class="container ">
      <div class="dine-stay-container row ">
      
     
        <div class=" col-sm-12 col-md-8 ">
        <div class="dine-conent pull-right">
        
            <h2 class="text-bold">dine & Stay</h2>
            <h3 class="text-cursive text-left">Feast for all senses</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <div class="transparant-button-brown  ">
            <a href="#" class="hover-transition">Book this offer</a>
            </div>
         <div class="dine-shadow"></div>  
         
          </div>
           
           
           <div>
           </div>
          
          <div class=" clearfix"></div>  
         </div>
        <div class="col-sm-12   col-md-4  facilities-section  ">
         <h6>Offer features</h6>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
       
     <div class="dine-conent-img-palce pull-right">
    <img src="../assets/images/dine-img.jpg" class="img-width" alt=""/></div>
    
      </div>
      
      
     
    </div>
  </div>
</section>
<section class="global-container ">
 <div class="row">
        <div class="col-sm-12">
          <div class="gallery-banner newsletter  border-single-bottom">
            <div class="row bg-text">exclusive <span>padre hotel newsletter</span> </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
				Aenean commodo ligula eget dolor.</p>
                <div class="newsletter-form center-block">
                <div class="row ">
                <div class="col-md-4 ">
               
                <input type="text" class="textbox " size="10" placeholder="*Name" id="first_20">
                
                </div>
                <div class="col-md-4 ">
               
                <input type="text" class="textbox " size="10" placeholder="*Email" id="first_20">
                
                </div>
                <div class="col-md-4">
               
              <button type="submit" form="form1" class="form-btn" value="Submit">SUBSCRIBE</button>
                
                </div>
                
                </div>
                </div>
          </div>
         
          <div class="row discover-list-container ">
            <h3 class="text-bold ">discover more rooms</h3>
            <div class="col-sm-12 col-md-4"><img src="../assets/images/discover-rooms1.jpg"  class="img-width" alt=""/> <a href="#">FARMER’S DAUGHTER SUITE</a> </div>
            <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms2.jpg"  class="img-width" alt=""/> <a href="#">HEAD HONCHO</a> </div>
            <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms3.jpg"  class="img-width" alt=""/> <a href="#">40 WINKS</a> </div>
          </div>
          <div class="row  button-container center-block">
            <div class="transparant-button "><a href="#" class="hover-transition">View all Rooms</a></div>
          </div>
        </div>
      </div>
      <div class="row footer-top-border">
       <div class="col-sm-12"> <hr></div>
      </div>
</section>
