---
layout: default
---

<section class="container banner-onscroll content-top-margin global-container room-container ">
<div class="row">
 <div class="col-md-12 no-gutter specials-listing-banner">
 <div class="social-icons"><ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
     </div>
   <div class="title">The Padre Hotel</div>
   <img src="../assets/images/specials-listing-banner.png" class="img-width" alt=""/> 
    <h1>Special Offers</h1>
   </div>

</div>
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li><a href="#">naughty romance</a> </li>
        <li><a href="#">spring for savings</a></li>
        <li><a href="#">dine & stay Package</a></li>
       
      </ul>
    </div>
  </div>
</section>
<section class="style-comfort-section"> 
  <div class="global-container">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-10 pull-right no-gutter room-couple-img-width">
          <h5>Lorem ipsum dolor sit amet, tincidunt vel nisl donec nec eget viverra, vestibulum dictumst risus, vehicula volutpat tortor, vestibulum erat nulla ac nulla. Eget orci sed, non pede bibendum iaculis vel eros iaculis. Est aliquet amet maecenas imperdiet. Leo pellentesque, in amet litora etiam.</h5>
         </div>
      </div>
      
     
      
    </div>
  </div>
</section>
<section class="specials-listings-container">
<div class="specials-listings">
 <img src="../assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img src="../assets/images/special-list-img-1.jpg" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area">
   <div class="specials-list-content  ">
          <h3>Naughty Romance</h3>
          <span class="dimond"> ◆</span>
          <p>Vitae condimentum enim nunc bibendum tristique. Mauris leo proin vivamus vestibulum per, ac velit velit, volutpat pede tortor arcu suspendisse amet ac. </p>
  </div>
<div class="transparant-button-brown  button-position">
            <a href="#" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>

<div class="specials-listings specials-listings-second">
 <img src="../assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img src="../assets/images/special-list-img-2.jpg" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area ">
   <div class="specials-list-content ">
          <h3>spring for savings</h3>
          <span class="dimond"> ◆</span>
          <p>Vitae condimentum enim nunc bibendum tristique. Mauris leo proin vivamus vestibulum per, ac velit velit, volutpat pede tortor arcu suspendisse amet ac. </p>
  </div>
<div class="transparant-button-brown  button-position">
            <a href="#" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>

<div class="specials-listings">
 <img src="../assets/images/special-list-flower1.png" class="specials-listing-flower" alt=""/>
 
  <div class="global-container container">
  <div class="specials-list row">
  <div class="col-md-12 specials-list-img  ">
  <img src="../assets/images/special-list-img-3.jpg" class="img-width" alt=""/>
   </div>
   <div class="col-md-12 specials-list-content-area">
   <div class="specials-list-content  ">
          <h3>dine & stay Package </h3>
          <span class="dimond"> ◆</span>
          <p>Vitae condimentum enim nunc bibendum tristique. Mauris leo proin vivamus vestibulum per, ac velit velit, volutpat pede tortor arcu suspendisse amet ac. </p>
  </div>
<div class="transparant-button-brown  button-position">
            <a href="#" class="hover-transition">View Offer</a>
            </div>

   </div>
   </div>
  </div>
</div>

</section>

<section class="global-container ">
<hr class="border-single-bottom">
 <div class="row">
        <div class="col-sm-12">
         
         
          <div class="row discover-list-container ">
            <h3 class="text-bold ">discover more rooms</h3>
            <div class="col-sm-12 col-md-4"><img src="../assets/images/discover-rooms1.jpg"  class="img-width" alt=""/> <a href="#">FARMER’S DAUGHTER SUITE</a> </div>
            <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms2.jpg"  class="img-width" alt=""/> <a href="#">HEAD HONCHO</a> </div>
            <div class="col-sm-12  col-md-4"><img src="../assets/images/discover-rooms3.jpg"  class="img-width" alt=""/> <a href="#">40 WINKS</a> </div>
          </div>
          <div class="row  button-container center-block">
            <div class="transparant-button "><a href="#" class="hover-transition">View all Rooms</a></div>
          </div>
          <hr class="hr-border">
        </div>
      </div>
      
</section>