---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
<div class="container">
<div class="row">
 <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
 <div class="social-icons"><ul>
                 <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
     </div>
   <div class="title">The Padre Hotel</div>
   <img src="/assets/images/specials-listing-banner.jpg" class="img-width" alt=""/> 
    <h1>Thank You</h1>
   </div>

</div>
<div class="gallery-container container ">
<div class="row ">
 
      
   <div class="col-md-12 text-center"><br><br>



   <p>We will get in touch with you shortly.</p>

   
</div>
 

   </div>
   </div>
  <hr class=" hr-border">
 </div>
</section>